[Socket]
ListenStream=/home/wa51/code/code_microcontrollers/stm32/stm32cubemx/f412g_player/utilities/multiplex_server/qwe.socket
OnFailure=player_stm32_multiplex_server.socket

[Install]
WantedBy=sockets.target
