[Socket]
ListenStream=/home/wa51/code/code_microcontrollers/stm32/stm32cubemx/f412g_player/utilities/multiplex_server/qwe.socket
TriggerLimitIntervalSec=1ms
TriggerLimitBurst=100
        
[Install]
WantedBy=sockets.target
